
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}


    <style>
        #content {
            background: #fff !important
        }


        iframe {
            width: 100%;
        }

</style>

    <div class="content-wrap" style="min-height:100vh">
        <div class="subsite">

            <div class="row">
                <div class="col-md-12 text-center">
                    <img style="width:200px" src="~/ArchitectThemes/image/igecowashlogo-removebg-preview.png" alt="image" class="border-radius">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 fs-14">
                    <p>
                        💖 အချိန်တွေကို သိမ်းဆည်းမယ် ⏱
                        • IG Eco Wash ရှိနေမှတော့ ကားဆေးဖို့ တကူးတက မသွားနေရတော့တာမို့ ပိုသွားတဲ့အချိန်တွေ ရှိလာမယ်လေ။
                        သိမ်းဆည်းထားတာတွေကို အေးအေးလူလူ အနားယူမလား။ ရုပ်ရှင်၊ ဂီတ၊ စာပေ အနုပညာ တစ်ခုခုကို အချိန်ပေးပြီး ခံစားမလား။
                    </p>
                    <p>
                        ✌🏻 ချစ်ဆွေ နှစ်သက်ရာ လုပ်ပါ။
                        ⏰ နှစ်သက်ရာလုပ်ဖို့ အချိန်တွေကို IG Eco Wash မှ ဖန်တီးပေးပါ့မယ် 👌🏻
                    </p>
                    <p>
                        💖 ငွေကြေးတွေကို သိမ်းဆည်းမယ် 💰
                        • IG Eco Wash ရှိနေမှတော့ ကားဆေးဖို့ တကူးတက သွားစရာမလိုတာမို့ ဓာတ်ဆီဖိုးတွေ ကုန်ကျတာ သက်သာလာမယ်လေ။ သိမ်းဆည်းလိုက်တဲ့ အကုန်အကျသက်သာတာတွေကို မုန့်ပဲစားမလား။ ကော်ဖီဆိုင်ထိုင်မလား။
                    </p>
                    <p>
                        ✌🏻 ချစ်ဆွေ နှစ်သက်ရာ လုပ်ပါ။
                    </p>
                    <p>
                        💴 နှစ်သက်ရာလုပ်ဖို့ ငွေကြေးတွေကို IG Eco Wash မှ ဖန်တီးပေးပါ့မယ် 👌🏻
                    </p>

                    <p>
                        💖 သဘာဝပတ်ဝန်းကျင်ကို ထိန်းသိမ်းစောင့်ရှောက်မယ် 🌎
                        • IG Eco Wash ရှိနေမှတော့ ကားဆေးဖို့ ရေတွေ အများကြီးဖြုန်းတီးစရာ မလိုတော့ဘူးလေ။ ညစ်ပေနေတဲ့ ကားတစ်စီး သန့်ရှင်းတောက်ပြောင်သွားစေဖို့ ရေတစ်လီတာပဲ သုံးတာမို့ ကမ္ဘာကြီးရဲ့ ရေအရင်းအမြစ်ကို ဂရုစိုက်ပြီး ချွေတာပေးရာကျတာမို့ သဘာဝပတ်ဝန်းကျင် ထိန်းသိမ်းစောင့်ရှောက်မှုမှာ ကိုယ်တိုင်ပါဝင်ရာ ရောက်ပါတယ်။
                        ✌🏻 ချစ်ဆွေ မော်တော်ကား ဆေးလိုက်ပါ။
                      
                    </p>

                    <p>
                        💧 ရေအရင်းအမြစ်နဲ့ သဘာဝပတ်ဝန်းကျင်ကို IG Eco Wash နဲ့အတူတူ စောင့်ရှောက်ပြီးသားဖြစ်မှာပါ 👌🏻
                    </p>
                    <p>
                        👨🏻‍💼 ကားက အပြင်တင်မကဘူး .. အတွင်းမှာပါ ဆေးလိပ်နံ့တွေ၊ ဟင်းနံ့တွေ နံစော်နေတယ်❓
                        • IG Eco Wash နဲ့ဆို အဆင်ပြေသွားမှာပါ။ အနံ့ဆိုးများပျောက်ကွယ်သွားအောင် IG Eco လေသန့်စနစ်ဖြင့် တာဝန်ယူ ဆောင်ရွက်ပေးနေပါပြီ။
                    </p>
                    <p>
                        ဖုန်းလေးသာဆက်လိုက်ပါ။ မိတ်ဆွေတို့ရဲ့ ကားရပ်ထားရာ နေရာဆီ အရောက်လာပြီး ဝန်ဆောင်မှု ပေးသွားမှာပါ။
                    </p>

                    <p>
                        🚘 ကားဆေးမယ်ဆို IG Eco ကိုပဲ ရွေးချယ်လိုက်ပါလို့ 🚙
                    </p>

                    <p>
                        Save Time ..
                      
                       
                    </p>
                    <p>
                        Save Money ..
                    </p>
                    <p>
                        Save Water ..

                    </p>
                    <p>
                        အဲ့ဒါ IG Eco Wash ပါ။
                        ဖုန်းလေးသာ ဆက်လိုက်ပါ။
                        IG Eco Wash to your Car ပါ။
                    </p>
                 

                </div>
            </div>

            <div class="row mt-20">
                <div class="col-md-12">
                    <div class="subsite-heading">
                        Main Office
                    </div>
                    <div class="d-flex mt-15">
                        <div style="width:10%">
                            🏠
                        </div>
                        <div style="width:90%" class="fs-15">
                            No.(35/A-B), Thuwanna 29th Quarter, KamarKyi Road, Thingangyun Township, Yangon, Myanmar.
                        </div>
                    </div>

                    <div class="d-flex mt-15">
                        <div style="width:10%">
                            ☎️
                        </div>
                        <div style="width:90%">
                            <a href="tel:09965010078" class="textsub fs-15" style="color:#0094ff">
                                09965010078
                            </a>
                            <br />
                            <a href="tel:09785010078" class="textsub fs-15" style="color:#0094ff">
                                09955010078
                            </a>
                            <br />
                            <a href="tel:09785010078" class="textsub fs-15" style="color:#0094ff">
                                09785010078
                            </a>
                        </div>
                    </div>

                    <div class="d-flex mt-15">
                        <div style="width:10%">
                            <img style="width:20px" src="~/Plesirthemes/EcoPhoto/fbicon.png" />
                        </div>
                        <div style="width:90%">
                            <a href="https://www.facebook.com/IGEcoWash/" class="fs-15" style="color:#0094ff">Facebook</a>
                        </div>
                    </div>

                    <div class="d-flex mt-15">
                        <div style="width:10%">
                            <img style="width:20px" src="~/Plesirthemes/EcoPhoto/mailicon.png" />
                        </div>
                        <div style="width:90%">
                            <a href="mailto:igmcarcare.mm@gmail.com" class="fs-15" style="color:#0094ff;text-decoration:underline">igmcarcare.mm@gmail.com</a>
                        </div>
                    </div>



                </div>
            </div>

            <div class="row mt-20">
                <div class="col-md-12">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1909.5317663545566!2d96.211754!3d16.823204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDQ5JzIyLjYiTiA5NsKwMTInNDIuMSJF!5e0!3m2!1sen!2sus!4v1609942655915!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                </div>

            </div>
        </div>

    </div>



@section scripts{
    
    
    <script>
        $(function () {

            $('#footer').hide();

        })



    </script>
    
    
    }