
@{
    ViewBag.Title = "Index";
}



@model List<Infra.ViewModels.AdminViewModel>


@foreach (var item in Model)
{
    <h3>@item.username</h3>

}


<style>
    .div {
        background: #ddd;
        margin: 10px;
        padding:10px
        
    }
</style>


<div class="div" onclick="Open('div_1')">
    1
    <div class="div_all" style="display:none" id="div_1">1 data</div>
</div>


<div class="div" onclick="Open('div_2')">
    2
    <div class="div_all" style="display:none" id="div_2">2 data</div>
</div>


<div class="div" onclick="Open('div_3')">
    3
    <div class="div_all" style="display:none" id="div_3">3 data</div>
</div>


<div class="div" onclick="Open('div_4')">
    4
    <div class="div_all" style="display:none" id="div_4">4 data</div>
</div>

<div class="div" onclick="Open('div_5')">
    5
    <div class="div_all" style="display:none" id="div_5">5 data</div>
</div>


<button onclick="All()">All Open</button>


@section scripts{
    <script>

        $(function () {


        })

        function Open(id) {
            $('#' + id).toggle();
        }


        function All() {
            // for div 1

            var x = document.getElementById("div_1");
            if (x.style.display === "none") {
                $('#div_1').toggle();
            }


             // for div 2

            var x = document.getElementById("div_2");
            if (x.style.display === "none") {
                $('#div_2').toggle();
            }


             // for div 3

            var x = document.getElementById("div_3");
            if (x.style.display === "none") {
                $('#div_3').toggle();
            }


             // for div 4

            var x = document.getElementById("div_4");
            if (x.style.display === "none") {
                $('#div_4').toggle();
            }

             // for div 5

            var x = document.getElementById("div_5");
            if (x.style.display === "none") {
                $('#div_5').toggle();
            }



        }



    </script>
    
    
    
    }