
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}


<div class="content-wrap page-news-list">
    <div class="subsite-banner">
        <img src="~/Plesirthemes/EcoPhoto/eco4.jpg">
    </div>
    <div class="subsite subsite-with-banner">
        <div class="row">
            <div class="col-md-12">
                <div class="subsite-heading">
                    Branch
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="search-form search-content">
                    <div class="search-wrapper ">
                        <input id="search" placeholder="Search...">
                        <button class="ssubmit" type="submit" name="search_submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_branch"></div>
    </div>

</div>






@section scripts{
    <script>

        var customerid = '@ViewBag.customerid'

        $(function () {
            GetBranchList();
        })


        function GetBranchList()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetBranchList", "Branch")',
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_branch').empty().append((result));
                },
                complete: function () {

                }
            });

         }


     


    </script>



} 