
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}


    <div class="content-wrap page-car-single">

        <div class="subsite">

            <div class="row">
                <div class="col-md-12">
                    <div class="cs-top">
                        <div class="cst-left">
                            <div class="subsite-heading">
                                Diamond Package
                            </div>
                            @*<div class="star-rates">
                                <span class="star rated">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="star rated">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="star rated">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="star rated">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="star rated">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rated-value">5.0</span>
                            </div>*@
                        </div>
                        <div class="cst-right">
                            <div class="price">
                                <div class="price-value"> $120 </div>
                                @*<div class="duration"> per day </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="single-car-box page-profile">

                        <div class="scb-right">
                            <img src="~/Plesirthemes/img/news1.jpg" alt="image" class="border-radius">
                        </div>

                        <div class="probox">
                            <div class="bx-col">
                                <div class="bx-col-in"> Hand Wax</div>


                            </div>

                            <div class="clear"></div>
                        </div>

                        <div class="probox">
                            <div class="bx-col">
                                <div class="bx-col-in"> Interior SuperClean</div>


                            </div>

                            <div class="clear"></div>
                        </div>

                        <div class="probox">
                            <div class="bx-col">
                                <div class="bx-col-in"> Carpet Shampoo</div>


                            </div>

                            <div class="clear"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="button btn-reserve">
                        <button type="submit" class="theme-button">Reserve Now</button>
                    </div>
                </div>
            </div>

        </div>

    </div>