
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading width-100">
            <div class="display-flex-row">
                <div class="display-flex-column">
                    Advertisement
                </div>
                <div class="display-flex-column flex-end ml-auto">
                    <a href="../admin_advertisement/advertisementform" class="mb-2 mr-2 btn btn-primary text-white">
                        Add Ads
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="div_list">

    </div>
</div>







@section scripts{
    <script>

        var page = 1;
        var pagesize = 15;

        var searchvalue = null;
        var OrderBy = "Accesstime";
        var Direction = "DESC";
        $(function () {

            LoadMainList();
            initPaging();
          //  initsComponent();
        });
    


        function initPaging() {
            $("#div_list").on("click", ".pagedList a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                ItemList();
            });
        }
        function Search(value) {
            page = 1;
            searchvalue = value;
            LoadMainList();

        }
        function LoadMainList() {
            callloading('div_list');
            $.ajax({
                cache: false,
                url: '@Url.Action("_list", "Admin_Advertisement")',
                data :{
                    page: page, pagesize: pagesize
                },
                beforeSend: function () {
                   // callloading('_itemlist');
                },
                success: function (result) {
                    $('#div_list').empty().append(result);

                },

                complete: function () {


                }
            });
        }



        function editadvertisement(ID) {
            location.href = "../admin_advertisement/advertisementform?ID=" + ID + "&FormType=Edit";
        }

        function extendduration(ID) {
            location.href = "../admin_advertisement/durationform?ID=" + ID + "&FormType=Edit";
        }

        function Delete(e) {
            Swal.fire({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonColor: '#8CD4F5',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Confirm it!'
              })
                .then((result) => {

                        if (result.value == true) {
                            var ID = $(e).data('id');
                            var infoid = $(e).data('infoid');
                            $.ajax({
                                cache: false,
                                url: '@Url.Action("Delete", "Admin_Advertisement")',

                                data: { ID: ID },
                                beforeSend: function () {

                                },
                                success: function (result) {
                                    if (result == "Success") {
                                        $('#' + infoid).remove();
                                        $('#MyModal').modal('hide');

                                        Swal.fire(
                                            'Delete!',
                                            'Successfully Deleted!',
                                            'error'
                                        )
                                    }
                                    else {

                                    }
                                },
                                complete: function () {



                                }
                            });
                        }




                });

        }


        function IsActive(ID) {
            Swal.fire({
                title: "Are you sure?",
                text: "Do you want to promote this customer as a member?!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonColor: '#8CD4F5',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Confirm it!'
              })
                .then((result) => {

                        if (result.value == true) {
                        //    var ID = $(e).data('id');
                           // var infoid = $(e).data('infoid');
                            $.ajax({
                                cache: false,
                                url: '@Url.Action("IsActive", "Admin_Advertisement")',

                                data: { ID: ID },
                                beforeSend: function () {

                                },
                                success: function (result) {

                                        if (result.IsActive == true) {
                                            $("#member_" + cusid).addClass('btn-success');
                                            $("#member_" + cusid).removeClass('btn-danger');
                                        } else {
                                            $("#member_" + cusid).removeClass('btn-success');
                                            $("#member_" + cusid).addClass('btn-danger');
                                        }

                                        Swal.fire(
                                            'Success!',
                                            'Successfully Save!',
                                            'success'
                                        )

                                },
                                complete: function () {



                                }
                            });
                        }




                });

        }




     


    </script>



} 