
@model IQueryable<Infra.Models.tbMemberPackage>
<div class="heading-section">

    <div class="sa-title popcat">Our Packages </div>
    <div class="heading-info">
        Let's see our packages
    </div>
    <div class="clear"></div>
</div>

@if (Model.Count() > 0)
{
    <div class="section-home vacation-destination">

        <div class="default-carousel vs-carousel">

            @foreach (var item in Model)
            {
                <!-- item -->
            <div class="item">             
                <div class="vs-box">
                    <div class="vsb-top">
                        <div class="vsb-cartype">
                            @item.Title
                        </div>

                        @if (item.CarType == "small")
                        {


                            <div class="vsb-categorytype">
                                 ကားသေး 
                            </div>
                           

                        }
                        else if (item.CarType == "big")
                        {
                            <div class="vsb-categorytype">
                                ကားကြီး
                            </div>
                        }
                        else
                        {
                            <div class="vsb-categorytype">
                                ကားလတ်
                            </div>
                        }


                        <div class="vsb-carprice">
                            @item.PackagePrice.Value.ToString("#,##0") MMK
                        </div>
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/img/destination1.jpg" alt="img">
                        </div>
                    </div>
                 
                </div>
                   
                @*<div class="acr-box">
            <div class="acr-box-in">
                <div class="acr-img">
                    <img src="~/Plesirthemes/img/destination1.jpg" alt="you might like">
                </div>
                <div class="acr-content">
                    <div class="ct-name">@item.Title</div>
                    <div class="ct-cost"><span class="cprice fs-17"> @item.PackagePrice.Value.ToString("#,##0") MMK </span></div>

                    @if (item.CarType == "small")
                    {
                        <div class="vsb-cartype mt-10">
                            ကားသေး <i class="fas fa-star"></i>
                        </div>


                    }
                    else if (item.CarType == "big")
                    {
                        <div class="vsb-cartype mt-10">
                                ကားကြီး <i class="fas fa-star"></i>
                        </div>
                    }
                    else
                    {
                        <div class="vsb-cartype mt-10">
                                ကားလတ် <i class="fas fa-star"></i>
                        </div>
                    }


                </div>
            </div>
            <div class="acr-bg">
                <img src="~/Plesirthemes/img/bgcar.jpg">
            </div>
        </div>*@
            </div>
                <!-- .item -->

            }

        </div>
    </div>
}


