
@model IQueryable<Infra.Models.tbMemberPackage>
<div class="heading-section">

    <div class="sa-title popcat">Our Packages </div>
    <div class="heading-info">
        Let's see our packages
    </div>
    <div class="clear"></div>
</div>

@if (Model.Count() > 0)
{
    <div class="section-home vacation-destination">

        <div class="default-carousel vs-carousel">

            @foreach (var item in Model)
            {
              

            <div class="item">             
                <div class="vs-box">
                    <div class="vsb-top position-relative">
                       
                        <div class="vsbt-img br-package-image">
                            <img src="~/Plesirthemes/img/destination1.jpg" alt="img">
                        </div>

                        <div class="vsb-middle">
                            <div class="vsbm-left">
                                @item.Title

                            </div>
                            <div class="vsbm-right">
                                @item.PackagePrice.Value.ToString("#,##0") MMK
                            </div>
                            @if (item.CarType == "small")
                            {
                               
                                <div class="car-categorytype">
                                    ကားသေး
                                </div>


                            }
                            else if (item.CarType == "big")
                            {
                                <div class="car-categorytype">
                                    ကားကြီး
                                </div>
                            }
                            else
                            {
                               
                                <div class="car-categorytype">
                                    ကားလတ်
                                </div>
                            }

                        </div>
                        
                    </div>
                 
                </div>
              
            </div>
            
            }

        </div>
    </div>
}


