
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<style>
    .attr {
        border-bottom: 1px solid #ebebeb;
        padding: 20px 0;
    }

</style>


    <div class="content-wrap page-car-single">

        <div class="subsite">

           
            <div class="panel-custom-default mb-10 br-10" id="1" style="background:#f2fbff!important;">
                <img src="~/Plesirthemes/EcoPhoto/eco1.jpg" class="labor_detail_card_short br-10 br-b-l-0 br-b-r-0">


                <div class="p-15">

                    <div class="display-flex-row">
                        <div class="display-flex-column">
                            <h6 class="black-color">Diamond Package</h6>

                        </div>
                        <div class="display-flex-column ml-auto">
                            <div class="price">
                                <div class="price-value theme-color"> $120 </div>
                                @*<div class="duration"> per day </div>*@
                            </div>
                        </div>

                    </div>
                  
                    <div class="mt-15" style="display:flex;justify-content:space-between;">
                        <div class="p-0">
                            <ul class="pl-15">
                                <li class="black-color"> Car Body Wask</li>
                            </ul>
                            <ul class="pl-15">
                                <li class="black-color"> Car Interior Wash</li>
                            </ul>
                            <ul class="pl-15">
                                <li class="black-color"> Car Interior Wash</li>
                            </ul>
                            <ul class="pl-15">
                                <li class="black-color"> Car Interior Wash</li>
                            </ul>
                            <ul class="pl-15">
                                <li class="black-color"> Car Interior Wash</li>
                            </ul>

                        </div>
                        
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="button btn-reserve">
                        <button type="submit" class="theme-button">Book Now</button>
                    </div>
                </div>
            </div>

        </div>

    </div>