
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}


    <div id="content">
        <div class="content-wrap page-error">

            <div class="subsite">

                <div class="error-page">
                    <div class="in-error-page">
                        <div class="in-in-error-page">
                            <h1>500</h1>
                            <p>
                                Ooops, Something Goes Wrong
                            </p>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>